@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.srchMain {
    color: white;
    background-color: rgba(0, 0, 0, 0.884);
}

/*----- Search Navbar ------*/
.srchNav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
}
.srchBar {
    width: 90%;
} 
.srchBar input {
    width: 100%;
    padding: 6px 12px;
    font-size: clamp(14px, 1.6vw, 19px);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.952);
}




/*----- Search Container ------*/
.srchContainer {
    min-height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem 1.5rem;
}

.srchCards {
    width: clamp(170px, 200px, 300px );
    height: clamp(210px, 250px, 300px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    padding: 0.4rem;
    cursor: pointer;
    margin-bottom: 1rem;
}


.srchCards img {
    width: 100%;
    height: 65%;
    border-radius: 7px;
    transition-duration: 0.5s ease;
    margin-bottom: 8px;
}
img:hover {
    transform: scale(1.05);
}

.srchCards h2 {
    font-size: clamp(15px, 1.65vw, 18px);
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.srchCards h5 {
    font-size: clamp(11px, 1.3vw, 15px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.msgContent {
    font-family: "Arimo", sans-serif;
}

@media (max-width: 668px) {

    .srchContainer {
        padding: 2rem 0.8rem;
    }

    .srchCards {
        width: clamp(140px, 150px, 200px);
        height: clamp(200px, 205px, 220px) ;
        padding: 0.3rem 0.3rem 0.8rem 0.3rem;
    }
}







@media (max-width: 668px) {

    .srchNav {
        padding: 0.7rem 1rem;
    }

    .srchBar {
        padding: 4px, 5px;
    }
}